@tailwind base;
@tailwind components;
@tailwind utilities;


/* ------------------------------ General ------------------------------------------*/
* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: opacity, z-index, color ease-in-out .3s;
    font-weight: 400;
    /* slate 50 */
    color: rgb(248 250 252);
    font-family: 'Bitter', serif;
}

.font-bitter {
    font-family: 'Bitter', serif;
}

.font-square {
    font-family: 'Square Peg', cursive;
}

body {
    box-sizing: border-box;
    display: inline-block;
    /*width: 100vw;*/
    /*max-width: 100vw;*/
    clear: both;
    /*overflow-x: hidden;*/
    /*min-height: 100vh;*/
}

.bg-custom {
    background-image: linear-gradient(112.1deg, rgba(32, 38, 57, 1) 11.4%, rgba(63, 76, 119, 1) 70.2%);
}

html {
    overflow-x: hidden;
    max-width: 100vw;
    scroll-behavior: smooth
}

h1, h2, h3 {
    font-family: 'Square Peg', cursive;
    font-weight: 400;
    color: rgb(248 250 252);
}

a:focus, a:hover, button:focus, button:hover {
    filter: saturate(120%) brightness(120%);
    transition: all ease-in-out .2s
}

main {
    /*width: 100vw;*/
    max-width: 100vw;
    overflow-x: hidden;
}

h4, h5, h6 {
    font-family: 'Bitter', serif;
    font-weight: 400;
    /* slate 50 */
    color: rgb(248 250 252);
}

/* -------------------------- nav -------------------------- */
nav a {
    text-decoration: none
}

nav * {
    font-family: 'Square Peg', cursive;
}

.burger-container {
    cursor: pointer;
    display: flex;
}

.burger svg {
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-active svg {
    transform: rotate(90deg);
}

.burger path {
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger path:nth-child(1) {
    transform-origin: 36% 40%;
}

.burger path:nth-child(2) {
    stroke-dasharray: 29 299;
}

.burger path:nth-child(3) {
    transform-origin: 35% 63%;
}

.burger path:nth-child(4) {
    stroke-dasharray: 29 299;
}

.burger path:nth-child(5) {
    transform-origin: 61% 52%;
}

.burger path:nth-child(6) {
    transform-origin: 62% 52%;
}

.burger-active path:nth-child(1) {
    transform: translateX(9px) translateY(1px) rotate(45deg);
}

.burger-active path:nth-child(2) {
    stroke-dasharray: 225 299;
    stroke-dashoffset: -72px;
}

.burger-active path:nth-child(3) {
    transform: translateX(9px) translateY(1px) rotate(-45deg);
}

.burger-active path:nth-child(4) {
    stroke-dasharray: 225 299;
    stroke-dashoffset: -72px;
}

.burger-active path:nth-child(5) {
    transform: translateX(9px) translateY(1px) rotate(-45deg);
}

.burger-active path:nth-child(6) {
    transform: translateX(9px) translateY(1px) rotate(45deg);
}

/* -------------------------- Hero -------------------------- */
.skew-circle {
    transform: translateX(-50%) perspective(500px) rotateX(75deg) rotateY(20deg) scale(1.5);
    /*  animation between rotateY(-20deg) & rotateY(20deg) */
    animation: 4s infinite alternate ease-in-out skew-circle;
}

.skew-circle:after {
    /*  star on border */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 105%;
    border-radius: 50%;
    border: 1px solid #cbd5e1;
}

.skew-circle:before {
    /*  star on border */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    border-radius: 50%;
    border: 1px solid #cbd5e1;
}

@keyframes skew-circle {
    0% {
        transform: translateX(-50%) perspective(500px) rotateX(75deg) rotateY(-5deg) scale(1.5);
    }
    100% {
        transform: translateX(-50%) perspective(500px) rotateX(75deg) rotateY(5deg) scale(1.5);
    }
}

.skew-circle-fade {
    animation: 1s infinite alternate ease-in-out skew-circle-fade;
}


@keyframes skew-circle-fade {
    0% {
        transform: translateY(0px) translateX(-50%) perspective(500px) rotateX(75deg) rotateY(0deg) scale(1.5);
        opacity: 1;
    }
    10% {
        transform: translateY(150px) translateX(-50%) perspective(500px) rotateX(75deg) rotateY(0deg) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateY(0px) translateX(-50%) perspective(500px) rotateX(75deg) rotateY(-5deg) scale(1.5);
        opacity: 1;

    }
}

.custom-z-index {
    mask-mode: alpha;
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 76%, rgba(255, 255, 255, 0) 76%, rgba(255, 255, 255, 0) 100%);
}

.custom-button-text {
    font-family: 'Square Peg', cursive;
    font-weight: 400;
    /* slate 50 */
    color: rgb(248 250 252);
    font-size: 36px;
}

